<div class="list-group">
  <% @subjects.each do |subject| %>
    <%= link_to subject do %>
      <button type="button" class="list-group-item"><%= subject.name %> - <%= subject.code %> </button>
    <% end %>
  <% end %>
</div>