

<div class="container">
      <div class="row">
        <% if teacher?(current_user) || admin?(current_user)  %>
          <%= render partial: "/shared/search_bar", locals: {controller: "subjects_panels", action: "index"} %>
        <% end %>
        <div class="col-sm-6 toppad" >
          <% @general_q.each do |general_q| %>
            <%= render partial: "general_calification", locals: {general_q: general_q} %>
          <% end %>
        </div>
        <div class="col-sm-6 toppad" >
          <% @sw_dev_principles_q.each do |sw_dev_principles_q| %>
            <%= render partial: "sw_dev_calification", locals: {sw_dev_principles_q: sw_dev_principles_q} %>
          <% end %>
        </div>
        <div class="col-sm-6 toppad" >
          <% @programming_fundamentals_q.each do |programming_fundamentals_q| %>
            <%= render partial: "programming_calification", locals: {programming_fundamentals_q: programming_fundamentals_q} %>
          <% end %>
        </div>
      </div>
    </div>

